.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputlabel {
  border: 1px solid #246df8;
  background-color: #246df8;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.example-chip-list {
  width: 100%;
}
